include "keybinds.kdl"
spawn-at-startup "swww-daemon"
spawn-at-startup "sh" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "sh" "-c" "wl-paste --type image --watch cliphist store"

input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.2
        scroll-method "two-finger" // edge
    }

    mouse {
        // off, natural-scroll, accel-speed 0.2, accel-profile "flat", scroll-method "no-scroll",
    }

    warp-mouse-to-focus
}

output "eDP-1" {
    // Run `niri msg outputs`
    mode "1920x1080@60.049"
    scale 1
    transform "normal" // 90 | 180 | flipped
    position x=0 y=1080
}

output "HDMI-A-1" {
    mode "1920x1080@100"
    scale 1
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 10
    center-focused-column "never" // never | always | on-overflow
    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#EBCB8B"
        inactive-color "#505050"
    }

    struts {
        // left 64 right 64 top 64 bottom 64
        left 16
        right 16
    }
}

hotkey-overlay {
    skip-at-startup
}

environment {
    "ELECTRON_OZONE_PLATFORM_HINT" "auto"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// https://yalter.github.io/niri/Configuration:-Window-Rules
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
