// configuration {
//     modes: "window,run,ssh,drun";
//     sorting-method: "normal";
//     show-icons:true;
//     matching: "regex";
//     drun-match-fields: "name";
//     display-run: "Menu:";
//     display-ssh: "SSH:";
//     display-drun: "Apps:";
//     display-window: "Windows:";
// }

configuration{
    modes: "window,run,ssh,drun";
    sorting-method: "normal";
    show-icons:true;
    matching: "regex";
    drun-match-fields: "name";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
}
@theme "~/.config/rofi/menu.rasi"
