layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffffff"
        inactive-color "#929092"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffffff"
        inactive-color "#929092"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffffff"
        inactive-color "#929092"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffffff80"
    }
}

recent-windows {
    highlight {
        active-color   "#424753"
        urgent-color   "#ffb4ab"
    }
}