.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Untuk Chrome, Safari */
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* Untuk Internet Explorer/Edge */
    scrollbar-width: none;  /* Untuk Firefox */
}